<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <% if(data) { %>
                    <%= data.title %>
                    <% } %>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <% if(data) { %>
                <% var form=data.form; %>
                <input type="hidden" id="id" value="<%= form.id %>" />
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">角色名</span>
                    </div>
                    <input type="text" id="roleName" value="<%= form.roleName %>" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">操作员ID</span>
                    </div>
                    <input type="text" id="operateUserId" value="<%= form.operateUserId %>" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">操作时间</span>
                    </div>
                    <input type="text" id="operateDate" value="<%= form.operateDate %>" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">描述</span>
                    </div>
                    <input type="text" id="description" value="<%= form.description %>" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">标识</span>
                    </div>
                    <input type="text" id="key" value="<%= form.key %>" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">拥有者ID</span>
                    </div>
                    <input type="text" id="ownerId" value="<%= form.ownerId %>" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">资源ID</span>
                    </div>
                    <input type="text" id="resourcesId" value="<%= form.resourcesId %>" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
                <% } %>
                <div class="alert alert-success show fade" role="alert">
                    修改成功
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="modal-save" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>