<div class="container-fluid">
    <% for(let [pId,pMd] of Object.entries(data.module)){ %>
    <% if(pMd.parentModuleId==='root') {%>
    <div class="assignItem">
        <label class="checkblock">
            <input id="module<%= pId %>" type="checkbox" value="module#<%= pId %>" /><i class="s-icon__checkbox"></i>
            <span><%= pMd.title %></span>
        </label>
        <% try { %>
        <% for(let [sId,sMd] of Object.entries(data.module)){ %>
        <% if(sMd.parentModuleId===pId) throw new Error() %>
        <% } %>
        <% } catch { %>
        <span data-toggle="collapse" data-target="#p<%= pId %>" aria-expanded="false" aria-controls="#p<%= pId %>" class="role-assign-expand"> <i class="icon-zhankai"></i></span>
        <% } %>
    </div>
    <div>
        <div class="collapse multi-collapse" id="p<%= pId %>">
            <div class="card card-body">
                <% for(let [sId,sMd] of Object.entries(data.module)) { %>
                <% if(sMd.parentModuleId===pId){ %>
                <div class="assignItem">
                    <label class="checkblock">
                        <input id="module<%= sId %>" type="checkbox" value="module#<%= sId %>" /><i class="s-icon__checkbox"></i>
                        <span><%= sMd.title %></span>
                    </label>
                    <% try { %>
                    <% for(let [eId,e] of Object.entries(data.element)){ %>
                    <% if(e.moduleId===sId) throw new Error() %>
                    <% } %>
                    <% } catch { %>
                    <span data-toggle="collapse" data-target="#s<%= sId %>" aria-expanded="false" aria-controls="#s<%= sId %>" class="role-assign-expand"> <i class="icon-zhankai"></i></span>
                    <% } %>
                </div>
                <div class="collapse multi-collapse" id="s<%= sId %>">
                    <% for(let [eId,e] of Object.entries(data.element)){ %>
                    <% if(e.moduleId===sId) {%>
                    <label class="checkblock">
                        <input id="element<%= eId %>" type="checkbox" value="element#<%= eId %>" /><i class="s-icon__checkbox"></i>
                        <span><%= e.name %></span>
                    </label>
                    <% } %>
                    <% } %>
                </div>
                <% } %>
                <% } %>
            </div>
        </div>
    </div>
    <% } %>
    <% } %>
</div>