<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">
                    <% if(data) { %>
                    <%= data.title %>
                    <% } %>
                </h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <% if(data) { %>
                <% var form=data.form; %>
                <input type="hidden" id="id" value="<%= form.id %>" />
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">用户名</span>
                    </div>
                    <input type="text" id="userName" value="<%= form.userName %>" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
                <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="inputGroup-sizing-default">账号</span>
                        </div>
                        <input type="text" id="account" value="<%= form.account %>" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                    </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">创建用户</span>
                    </div>
                    <input type="text" readonly id="createUserId" value="<%= form.createUserId %>" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <span class="input-group-text" id="inputGroup-sizing-default">创建日期</span>
                    </div>
                    <input type="text" readonly id="createDate" value="<%= form.createDate %>" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
                </div>
                <% } %>
                <div class="alert alert-success show fade" role="alert">
                    修改成功
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button id="modal-save" type="button" class="btn btn-primary">Save changes</button>
            </div>
        </div>
    </div>
</div>